<aside class="flex-1 text-center hidden lg:flex">
    <div class="w-full bg-cover bg-center bg-no-repeat" style="background-image: url('@BackgroundImage')"></div>
</aside>

@code {
    [Parameter] public string? BackgroundImage { get; set; }
}
